
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Open+Sans:wght@300&family=Poppins:ital@1&family=Rubik+80s+Fade&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    
    /* border: 2px red solid; */
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right,#0096c7,#023e8a);
}
.left-side{
    flex-basis: 30%;

}
body{
   font-family: 'Josefin Sans', sans-serif;
   font-size: 1.2rem;
}
.right-side{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
}
.box{
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    background-blend-mode: darken;
    transition: all 3s ease-in-out;


}
.row{
    grid-column: span 2;
}
.colom{
    grid-row: span 2;
}
.box:hover {
    background-color: #999;
    background-position: center;
    cursor: pointer;
    
}

